svg {
  user-select: none;
}

.axis line.dark {
  stroke-opacity: 0.3;
}
.axis line {
  stroke-opacity: 0.1;
  /* shape-rendering: crispEdges; */
}
.axis text {
  opacity: 0.5;
  font-size: 10rem;
}
.axis path {
  display: none;
}
