.panel__ {
  font-family: 16px;
  position: fixed;
  z-index: 100000;
  box-shadow: 0 1px 10px rgb(171 171 171 / 38%);
}

.pheader__ {
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
  cursor: move;
  transition: 0.3s;
  user-select: none;
}
