.panel__ {
  background-color: #ffffff;
  font-size: 16rem;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 1rem 10rem rgba(171, 171, 171, 0.38);
  border: 1px solid #e4e4e4;
  color: #545454;
}

.pheader__ {
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
  cursor: move;
}

.pheader__:hover {
  background-color: #e4e4e4;
}

/*  color panle */
.pcr-app {
  z-index: 10000;
}
.pickr .pcr-button {
  height: 20rem !important;
  width: 20rem !important;
  transition: none !important;
}

.pcr-result {
  min-width: 90% !important;
}
