.toolbar {
  top: 50%;
  right: 10rem;
  transform: translateY(-50%);
  box-shadow: 0rem 0rem 10rem hsla(27, 100%, 71%, 0.5);
  border: 1px solid hsl(27deg 100% 86%);
}

.toolbar .toolgrid {
  background-color: hsl(27deg 100% 86%);
}
.toolbar .pheader__ {
  background-color: hsl(30 100% 63% / 0.5);
  border-bottom: 1px solid hsl(27deg 100% 86%);
  height: 15rem;
}
.toolbar .pheader__:hover {
  background-color: hsl(30 100% 63% / 0.8);
}
.toolbar .pbody__ {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
}

.tool {
  width: 40rem;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: 0.3s; */
  cursor: pointer;
  user-select: none;
}
.tool.active {
  background-color: #fff !important;
}
.tool.active svg {
  fill: hsl(22, 100%, 50%) !important;
}
.tool:hover {
  background-color: #f4f4f4;
}
.tool:hover svg {
  fill: #ffaf6d;
}
/* .tool.active {
  background-color: hsl(0, 0%, 90%);
} */
.tool.active > svg.active {
  fill: hsl(0, 0%, 25%);
}

.tool > svg {
  width: 60%;
  height: 60%;
  fill: #878787;
  /* transition: 0.3s; */
}
